/***************** start preloading *************** */
body.preloading{
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: #777;
    background-image: url("duwun-logo.png");
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}
body.loaded::before{
    display: none;
}
body.preloading .content-placeholder{
    display: block;
    min-height: 250px;
}
.content-placeholder{
    display: none;
}
.preloading::after{
    background-image: url("");
    background-position: center 45vh;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 480px;      
    z-index: 999;
}
.placeholderbar{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: #ed7124;
    background-image: url("duwun-logo.png");
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9999;
}
.placeholderbox {
    display: block;
    background-color: #fff;
    padding-top: 68px;
    margin: 0 auto;
    /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1); */
    /* vertical-align: top; */
    width: 90%;
    font-size: 0;
    line-height: 0;
}   
.placeholderbox .banner-holder {
    background-color: #444;
    height: 100px;
    margin-bottom: 10px;
    opacity: 0.1;
    animation: boxfading 1.5s infinite;      
} 
.placeholderbox .cover-holder {
    background-color: #9f9f9f;
    height: 200px;
    margin-bottom: 10px;
    opacity: 0.1;
    animation: boxfading 1.5s infinite;       
}     
.placeholderbox hr.hr-box {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.12);
    border: none;
    height: 1px;
}    
.placeholderbox .text-group {
    display: block;
    background-color: #444;
    height: 20px;
    margin: 15px 30px;
    min-width: 100px;
    opacity: 0.1;
    animation: boxfading 1.5s infinite;
}
.placeholderbox .text-group:first-child {
    margin-top: 0;
}
.placeholderbox .text-group:last-child {
    margin-bottom: 0;
}
.placeholderbox .text-group.p-holder {
    height: 50px;
}
.placeholderbox .text-group.title-holder {
    width: 100px;
}

@keyframes boxfading {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.1;
    }
}

/***************** end preloading *************** */

/***************** start modal-box *************** */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 998; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: modal-animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: modal-animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes modal-animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes modal-animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .modal-header .modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .modal-footer button.modal-close {
    color: white;
    float: right;
    font-size: 20px;
    padding: 4px;
    margin-top: 8px;
    background-color: #ed7123;
    border: medium currentColor;
    border-radius: 4px;  
    box-shadow: 1px 1px 1px grey;
  }

  .modal-close:hover,
  .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #ed7123;
    color: white;
    min-height: 36px;
  }
  
  .modal-body {padding: 2px 16px;margin-top: 4px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: rgba(237, 113, 35, 0.5);
    color: white;
    min-height: 50px;
  }
  /***************** end modal-box *************** */
.headroom-wrapper .customClass a[href="/women"]{
    display: none;
}
#toggleDrawer a[href="/careers"]::after,
.headroom-wrapper a[href="/careers"]::after {
    content: "NEW";
    position: absolute;
    color: white;
    top: 2px;
    line-height: 10px;
    font-size: 8px;
    padding: 2px 8px 0 8px;
    border-radius: 4px;
    border: 1px solid white;
}
div.careers h1:first-child::after {
    content: "NEW";
    position: absolute;
    font-size: 8px;
    top: -8px;
    left: 60px;
    border: 1px solid #007daf;
    border-radius: 4px;
    padding: 2px 8px 0 8px;
}

.partial-body .partial-breaker {
    display: inline-block!important;
}
.partial-body .partial-content {
    display: none;
}

.partial-breaker {
    position: relative;
    width: 100%;
    height: 150px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
    top: -90px;
    display: none;
}

.partial-breaker > button {
    width: 80%;
    height: 50px;
    text-align: center;
    /* line-height: 50px; */
    margin-left: 10%;
    cursor: pointer;
    margin-top: 80px;
}