blockquote{
    color: #0b0909;
    padding: 13px;
    border-left: 2px solid #ed7123;
    margin: 0px;
}

blockquote > img.img-fluid {
    margin-top: 8px;
    margin-bottom: 8px;
}

.widgetVideoIframe, .widgetJWPlaylistIframe{
    width: 50%;
    height: 255px;
    border: 0;
    margin: 0 auto;
    display: block;
}

.widgetPlaylistIframe{
    width: 100%;
    height: 660px;
    border: 0;
    margin: 0 auto;
    display: block;
    overflow: hidden!important;
}
@media (max-width: 978px) {
    .widgetVideoIframe, .widgetJWPlaylistIframe{
        width: 100%;
        height: 54vw;
    }
}

@media screen and (max-width: 360px) {
    .widgetPlaylistIframe{
        height: 420px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 410px) {
    .widgetPlaylistIframe{
        height: 450px;
    }
}

@media only screen and (min-width: 411px) and (max-width: 490px) {
    .widgetPlaylistIframe {
        height: 490px;
    }
}

@media only screen and (min-width: 491px) and (max-width: 560px) {
    .widgetPlaylistIframe{
        height: 530px;
    }
}

@media only screen and (min-width: 561px) and (max-width: 600px) {
    .widgetPlaylistIframe{
        height: 560px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 632px) {
    .widgetPlaylistIframe{
        height: 620px;
    }
}
